{lib_dirs, ["deps", "deps/jsx/deps/","deps/ex_uri/deps"]}.
{erl_opts, [debug_info,
            {i,"deps/proper/include/"},
            {i,"deps/ex_uri/include/"},
            {d,'COMPILING_WITH_REBAR_AND_ERLC_HATES_DEPS'}
           ]}.
{deps, [
{'ex_uri', ".*", {git, "git://github.com/extend/ex_uri.git", master}},
{'jsx', ".*", {git, "git://github.com/talentdeficit/jsx.git", master}}
]}.
{post_hooks, [{'get-deps', "git submodule init"},
              {'get-deps', "git submodule update"},
              {'delete-deps', "rm -rf priv/Socket.IO/* priv/Socket.IO/.git*"}]}.
