{lib_dirs, ["deps", "deps/jsx/deps/","deps/ex_uri/deps"]}.
{erl_opts, [debug_info,
            {i,"deps/proper/include/"}
           ]}.
{deps, [
{'ex_uri', ".*", {git, "git://github.com/extend/ex_uri.git", master}},
{'jsx', ".*", {git, "git://github.com/talentdeficit/jsx.git", master}},
{'ossp_uuid', ".*", {git, "git://github.com/yrashk/erlang-ossp-uuid.git"}},
{'proper', ".*", {git, "git://github.com/manopapad/proper.git"}}
]}.
{post_hooks, [{'get-deps', "git submodule init"},
              {'get-deps', "git submodule update"},
              {'delete-deps', "rm -rf priv/Socket.IO/* priv/Socket.IO/.git*"}]}.
